doctype html
html
   head
      title The Number Quiz
      link(rel="stylesheet" type="text/css" href="/site.css")
   body
      div.main
        h1 The Number Quiz
        a(href="/quiz/q/1") Start The Number Quiz