doctype html
html
   head
      title The Number Quiz
   body
      h1 The Number Quiz
      div.main
        p.score="Your current score is "+score+"."
        p.result "You have completed The Number Quize, with a score of "+score+" out of 5."

